{% extends 'base.html.twig' %}
{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/master.css">
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
{% endblock %}
{% block content %}
    {{ parent() }}
    <div id="grid"></div>
    <div id="users" style="display: none;">
      {% for user in users %}
      <p>{{ user.username }}</p>
      {% else %}
      <p>No users found</p>
      {% endfor %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts '%kernel.root_dir%/Resources/public/scripts/list_scripts/*'%}
      <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
